/* Top Navbar */
.navbar-text{
    font-family: 'Graduate', cursive;
    color: white;
    font-size: 250%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.navbar {
    background-color: #971B2F;
}

/* Buttons & Forms */
.btn-primary{
    background-color: #971B2F;
    border-color: #971B2F;
}
.btn-primary:hover {
    background-color: #000000;
}